__pycache__
.dockerignore
documentation
.env
.git
.gitignore
migrations/versions/*
.mypy_cache
.pytest_cache
README.md
terminal
venv
.vscode

src/database/app_database.db
*/.mypy_cache*
*/.pytest_cache*
