{% extends 'base.jinja' %}
{% block title %}Home{% endblock %}
{% block content %}
<ol>
    <li><a href=""></a>Register</li>
    <li><a href=""></a>Login</li>
    <li><a href="/report/form">New report</a></li>
    <li><a href=""></a>Update DB from CSV file</li>
</ol>
{% endblock %}