{% extends 'base.jinja' %}
{% block title %}New request{% endblock %}
{% block content %}
<form action="/report/create" method="post">
    <div>
        <label for="Report name">Report name</label>
        <input type="text" id="Report name" name="name">
    </div>
    <div>
        <label for="Report note">Report note</label>
        <input type="text" id="Report note" name="note">
    </div>
    <button type="submit">Create</button>
</form>
{% endblock %}